*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #333;
    text-align: center;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.flex-anexo{
    border-radius: 10px;
    height: 269px;
    width: 50%;
    margin-left: 24em;
    background-color: #ffffff;
    border: 2px solid rgb(102, 102, 102);
}

.nav-menu{
    display: -webkit-inline-box;
    list-style-type: none;
}

.btn-anexo{
    color: #fff;
    height: 35px;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

#width-form{
    width: 90%;
   }
   
   #label-file {
       background-color: #3498db;
       border-radius: 5px;
       color: #fff;
       cursor: pointer;
       margin: 10px;
       padding: 6px 20px
   }
   
   .upload-col{
       padding-bottom: 6em;
       position: relative;
       left: 7.1%;
       border : 1px solid #ccc;
   }
   
   #fileList{
       display: block;
       flex-direction: column;
       align-items: center;
   }

   
   .btn-import{
    padding-left: 5em;
    padding-right: 5em;
   }